#!/usr/bin/make -f
# $XTermId: rules,v 1.6 2025/01/20 01:11:05 tom Exp $

export DEB_BUILD_MAINT_OPTIONS := hardening=+all qa=+bug reproducible=+all
# export DH_VERBOSE=1

%:
	dh $@

configure_flags = \
	--enable-echo \
	--enable-warnings \
	--with-shared \
	--with-versioned-syms \
	--disable-rpath-hack

# dh_autoreconf interferes with portability -- skip it
override_dh_autoreconf:
	echo "skip: dh_autoreconf autoreconf-dickey -- -f -i"

override_dh_auto_configure:
	LIBS="-lXmu" dh_auto_configure -- $(configure_flags)

override_dh_auto_install:
	dh_auto_install -- install

override_dh_installdocs:
	dh_installdocs README

override_dh_installchangelogs:
	dh_installchangelogs CHANGES

override_dh_installman:
	# dh_install does this

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
